@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('assets/fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
		url('assets/fonts/YanoneKaffeesatz-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('assets/fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
		url('assets/fonts/YanoneKaffeesatz-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html { height: 100%; }

body {
	background-color: #2f3542;
	font-family: 'Yanone Kaffeesatz';
	padding: 0;
	margin: 0;
	height: 100%;
}

div.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

canvas#game {
	margin: 0 auto;
	display: block;
}
